%hrefParams {
  text-decoration: none;
  cursor: pointer;
  color: rgba(57, 55, 55, 0.4);
  transition: .4s;
}

%fontSize15 {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

%fontSize18 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}