@import "../../veriables/Veriables";
@import "../../templates/Templates";

.thirdSectionWrapper {
  padding: 58px 120px 100px 120px;

  .txtWrapper {
    padding-left: 84px;

    .titleWrapper {
      p {
        @extend %fontSize44;
        margin: 0 0 25px 0;
      }
    }

    .pWrapper {
      p {
        @extend %fontSize15;
        color: $greyBlueColor;
        margin: 0 0 57px 0;
      }
    }
  }


  .imgWrapper {
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1330px) {
  .thirdSectionWrapper {
    padding: 0 120px 100px 120px;
  }
}

@media screen and (max-width: 1224px) {
  .thirdSectionWrapper {
    padding: 0 102px 100px 102px;
    .txtWrapper {
      padding: 0;
    }
  }
}

@media screen and (max-width: 1024px) {
  .thirdSectionWrapper {
    padding: 0 50px 100px 50px;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .thirdSectionWrapper {
    padding: 0 25px 100px 25px;
  }
  .thirdSectionWrapper .txtWrapper .titleWrapper p {
    font-size: 25px;
  }
}