@import "../../veriables/Veriables";
@import "../../templates/Templates";

.sixSectionWrapper {
  background: url("../../img/sixSection/background_2.webp"), url("../../img/sixSection/background_1.webp");
  display: flex;
  justify-content: space-between;
  padding-bottom: 77px;

  .leftBlockWrapper {
    display: flex;
    flex-direction: column;

    .titleWrapper {
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 96px;
        line-height: 101px;
        letter-spacing: 3.84px;
        color: $blueColor;
        margin: 57px 0 131px 102px;
      }
    }

    .pWrapper1 {
      p {
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: $blueColor;
        margin: 0 0 0 102px;
      }
    }
  }

  .rightBlockWrapper {
    margin-right: 108px;
    align-self: flex-end;

    .pWrapper2 {
      p {
        @extend %fontSize18;
        color: $blueColor;
        margin: 32px 0;
      }
    }

    .btnWrapper {
      button {
        width: 195px;
        height: 68px;
        background: $blueColor;
        color: $whiteColor;
        border-radius: 4px;
        border: 0;
        transition: $transition_0_2s;
        &:hover {
          transition: $transition_0_2s;
          transform: scale(1.1);
          background: none;
          color: $blackColor;
          border: 1px solid $blackColor;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {

  .sixSectionWrapper {
    padding: 0 25px 77px 25px;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;

    .leftBlockWrapper {
      display: flex;
      flex-direction: column;

      .titleWrapper {
        p {
          font-size: 60px;
          line-height: 75px;
          margin: 0 0 50px 0;
        }
      }

      .pWrapper1 {
        p {
          margin: 0;
        }
      }
    }

    .rightBlockWrapper {
      margin: 0;
      align-self: center;

      .pWrapper2 {
        p {
          @extend %fontSize18;
          color: $blueColor;
          margin: 32px 0;
        }
      }

      .btnWrapper {
        button {
          width: 195px;
          height: 68px;
          background: $blueColor;
          color: $whiteColor;
          border-radius: 4px;
          border: 0;
        }
      }
    }
  }
}



@media screen and (max-width: 480px) {

  .sixSectionWrapper {
    .leftBlockWrapper {
      .titleWrapper {
        p {
          font-size: 30px;
          line-height: 40px;
          margin: 50px 0 50px 0;
        }
      }

      .pWrapper1 {
        p {
          font-size: 12px;
        }
      }
    }

    .rightBlockWrapper {
      .pWrapper2 {
        p {
          font-size: 15px;
        }
      }

      .btnWrapper {
        button {
          width: 150px;
          height: 40px;
        }
      }
    }
  }
}