@import "../../veriables/Veriables";
@import "../../templates/Templates";

.sevenSectionWrapper {
  padding: 100px 102px;

  .titleWrapper {
    p {
      @extend %fontSize18;
      color: $blackColor;
      margin: 0 0 24px 98px;
    }
  }

  .mainBlockWrapper {
    padding: 0 98px 105px 98px;
    display: flex;

    .mainBlockItem {
      display: flex;
      flex-direction: column;
      margin-right: 21px;

      &:last-child {
        margin-right: 0;
      }

      .imgWrapper {
        margin: 0 0 22px 0;
        max-width: 333px;
        max-height: 273px;

        img {
          max-width: 100%;
        }
      }

      .txtBlock {
        min-height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .pWrapper1 {
          p {
            @extend %fontSize18;
            line-height: 22px;
            color: $blackColor;
            margin: 0 0 0 20px;
          }
        }

        .pWrapper2 {
          p {
            margin: 0 0 0 20px;
            @extend %fontSize15;
            color: #B5B7C7;
          }
        }
      }

    }
  }

  .btnWrapper {
    button {
      width: 166px;
      height: 60px;
      border: 1px solid $greyBlueColor;
      border-radius: 4px;
      color: $greyBlueColor;
      margin-left: 98px;
      transition: $transition_0_2s;
      &:hover {
        transition: $transition_0_2s;
        transform: scale(1.1);
        background: $blackColor;
        color: $whiteColor;
      }
    }
  }
}

@media screen and (max-width: 1224px) {
  .sevenSectionWrapper .mainBlockWrapper .mainBlockItem .txtBlock {
    text-align: center;

    .pWrapper1 p {
      font-size: 15px;
      line-height: 18px;
      margin: 0;
    }

    .pWrapper2 p {
      margin: 0;
    }
  }
}

@media screen and (max-width: 1024px) {
  .sevenSectionWrapper {
    padding: 100px 102px;
    text-align: center;

    .titleWrapper {
      p {
        margin: 0 0 50px 0;
        font-size: 25px;
        font-weight: bold;
      }
    }

    .mainBlockWrapper {
      padding: 0 0 40px 0;
      flex-direction: column;
      align-items: center;

      .mainBlockItem {
        display: flex;
        flex-direction: column;
        margin-right: 0;

        .txtBlock {
          margin-bottom: 30px;
          min-height: 90px;
        }
      }
    }

    .btnWrapper {
      button {
        margin-left: 0;
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .sevenSectionWrapper {
    padding: 60px 25px;

    .titleWrapper {
      p {
        margin: 0 0 50px 0;
        font-size: 25px;
        font-weight: bold;
      }
    }

    .btnWrapper {
      button {
        width: 150px;
        height: 40px;
      }
    }
  }
}



